#-所有文件
*
!*.js*
!*.htm*
!*.css
!*.md
!*.sql
!*.bat
!*.sh

#+所有文件夹
!*/
#-所有隐藏文件(及文件夹)
.*

!.npmrc
!.gitignore

node_modules
temp
/test

/data/*
!/data/locales/
!/data/config.js
!/data/confec.js

!/drivers/*.jar

package-lock.json
